@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1E1E1E;
}

li{
    list-style: none;
}

h1{
    margin-bottom: 20px;
    color: #ffecda;
}

li{
    background-color: #2d2d2d;
    color: white;
    padding: 2px;
    margin: 20px;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    border-radius: 5px;
    width: 800px;
}

.hidden{
    display: none;
}

.disabled{
    opacity: 0.2;
}

.pagination-container{
    display: flex;
    position: absolute;
    bottom: 50px;
}

.pagination-number, .pagination-button{
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
}

.pagination-number:hover, .pagination-button:not(disabled):hover{
    background-color: white;
    color: #1E1E1E;
    border: none;
}

.pagination-number.active{
    color: white;
    background-color: #00668c;
}

