* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1500px;
    font-family: 'PT Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #343a40;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    height: 100px;
    transition: all 0.4s ease;
    z-index: 1000; /* Ensure header stays above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) ;
}

header.sticky {
    line-height: 50px;
    background-color: #343a40;
    font-size: 20px;
    height: 50px;
}

nav {
    display: inline-block;
}

a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

main{
    margin-top: 150px;
    width: 60%;
    margin: 150px auto auto auto;
    text-align: left;
}

main h2{
    text-align: center;
    margin-top: 20px;
}

main p{
    margin-top: 30px;
    line-height: 2rem;
}
